/* fonts */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
}

/* base */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

/* button */
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* link */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
}

/* header */
.header {
  background-color:#465929;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* hero-section */
.hero-section {
  padding: 272px 0;
  margin-bottom: 0;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* advantages-section */
.advantages-section {
  background-color: var(--color-brand-light);
  padding: 16px 0;
}


.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 20px;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* tradition section */
.tradition-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand-uppercase {
  color: var(--color-brand-light);
  text-transform: uppercase;
  font-weight: 600;
}

.traditions-text.limited {
  width: 340px;
}

.traditions-text .brand {
  color: var(--color-brand-light);
}

/* chefs-section */
.chefs-title {
  margin-bottom: 80px;
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

/* formats-section */
.formats-title {
  margin-bottom: 80px;
}

.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.format-card {
  padding: 24px;
  border: 1px solid black;
  border-radius: 16px;
  height: 444px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* address section */
.contact-title {
  margin-bottom: 16px;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-copyright {
  color: #a18268;
  font-size: 14px;
}
